.header__lang-link {
  margin: 20px 0 0;
  text-decoration: none;
  color: white;
}

.header__lang-link:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
