.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  /* or 106% */
  margin: 0;
}

@media screen and (max-width: 984px) {
  .place__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 1.1;
  }
  .place__title-bag {
    font-size: 44px;
  }
}

@media screen and (max-width: 568px) {
  .place__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;

    padding-left: 16px;
  }
}
