.lead__subtitle {
  margin: 32px auto 64px;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  /* or 120% */
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 1.2;
    margin: 32px auto 56px;
    max-width: 500px;
  }
}

@media screen and (max-width: 568px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin: 16px auto 40px;
    max-width: 350px;
  }
}
