.photo-grid {
  gap: 14px;
  padding: 0 48px;
}

@media screen and (max-width: 984px) {
  .photo-grid {
    gap: 16px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .photo-grid {
    gap: 12px;
    padding: 0 16px;
  }
}
