.places {
  display: grid;
  gap: 80px;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1124px) {
  .places {
    padding: 0 48px;
  }
}

@media screen and (max-width: 984px) {
  .places {
    padding: 0 24px;
    gap: 73px;
  }
}

@media screen and (max-width: 568px) {
  .places {
    padding: 0;
    gap: 50px;
  }
}
