.place__image {
  max-width: 460px;
  max-height: 460px;
  grid-row: 2;
}

@media screen and (max-width: 1124px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
    grid-row: 2;
  }
}
@media screen and (max-width: 984px) {
  .place__image {
    max-width: 340px;
    max-height: 340px;
    grid-row: 2;
  }
}
@media screen and (max-width: 568px) {
  .place__image {
    max-width: 320px;
    grid-row: 3;
  }
}
