.header {
  justify-content: space-between;
  display: flex;
  max-width: 1184px;
  min-height: 42px;
  margin: 0 auto;
  padding-top: 28px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 28px 48px 0;
  }
}

@media screen and (max-width: 984px) {
  .header {
    padding: 28px 24px 0;
  }
}
@media screen and (max-width: 568px) {
  .header {
    padding: 16px 16px 0;
  }
}
