.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  /* identical to box height, or 112% */
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 568px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
