.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  /* or 104% */
  text-align: center;
  margin: 56px auto 0;
}

@media screen and (max-width: 1124px) {
  .lead__title {
    margin-top: 48px;
  }
}

@media screen and (max-width: 702px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
