@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/body/body.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

/* lead */
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/lead__title/lead__title.css);
@import url(../blocks/lead/lead__subtitle/lead__subtitle.css);
@import url(../blocks/lead/lead__image/lead__image.css);
@import url(../blocks/lead/lead__caption/lead__caption.css);

/* intro */
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list/__list-span/intro__list-span.css);
