.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
}

@media screen and (max-width: 1124px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    gap: 46px 28px;
  }
}

@media screen and (max-width: 586px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    max-width: 320px;
  }
}
