.place {
  padding: 0 148px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
}

@media screen and (max-width: 1124px) {
  .place {
    padding: 0 48px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    padding: 0 24px;
    gap: 46px 28px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}
