.place {
  padding: 0 148px;
  display: grid;
  grid-template-columns: minmax(460px, 1fr) minmax(min-content, max-content);
  gap: 48px 40px;
}

@media screen and (max-width: 1124px) {
  .place {
    grid-template-columns: minmax(440px, 1fr) minmax(min-content, max-content);
    padding: 0;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    grid-template-columns: minmax(340px, 1fr) minmax(min-content, max-content);
    gap: 46px 28px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}
