.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 984px) {
  .footer {
    padding: 88px 24px 24px;
    gap: 48px;
  }
}

@media screen and (max-width: 568px) {
  .footer {
    padding: 64px 16px 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;
  }
}
