.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 984px) {
  .footer {
    padding-top: 88px;
    padding-right: 24px;
    padding-left: 24px;
    gap: 48px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding-top: 64px;
    padding-right: 16px;
    padding-left: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;
  }
}
