.intro__title {
  max-width: 690px;
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  /* identical to box height, or 107% */
}

@media screen and (max-width: 550px) {
  .intro__title {
    font-size: 46px;
    line-height: 1.08;
  }
}

@media screen and (max-width: 370px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
